@keyframes hoverFlare {
  0% {
    left: -90px;
  }
  100% {
    left: 150%;
  }
}
.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 55px;
  font-weight: 500;
  padding: 0px 20px;
  transition: all 0.3s ease;
  background: transparent;
  outline: none;
  &:hover {
    text-decoration: none;
    transition: all 0.3s ease;
  }
  &:focus {
    outline: none;
  }

  &_hover {
    position: relative;
    overflow: hidden;
    vertical-align: top;
    z-index: 2;
    &:before {
      content: '';
      transition: 3s ease-in-out;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
      height: 100%;
      width: 20%;
      position: absolute;
      top: 0;
      transform: skewX(-45deg);
      left: -900px;
    }
    &:hover {
      // transform: scale(1.1)
      &:before {
        animation: hoverFlare 1.5s infinite;
      }
    }
  }
}
.gold-btn {
  background: #e5c584;
}
.gray-btn {
  background-color: #202020;
  color: $text-light;
}

.big-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  &-light {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    color: $text-light;
  }
}
.primary-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  &-light {
    font-weight: 700;
    font-size: 38px;
    line-height: 40px;
    color: $text-light;
  }
}

.slider-btn {
  position: absolute;
  top: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0 0 3px 3px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  outline: none;
  span {
    width: 15px;
    height: 15px;
    border-bottom: 2px solid #000;
    border-left: 2px solid #000;
  }

  &:hover {
    transition: all 0.3s ease;
    outline: none;
    // background-color: rgba(0, 0, 0, 0.1);
  }
  &.slick-disabled {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
    &:hover {
      opacity: 0.5;
      background: none;
    }
  }
}
.slider-btn__prev {
  transform: translateY(-50%) rotate(45deg);
  left: -50px;
  z-index: 10;
}
.slider-btn__next {
  transform: translateY(-50%) rotate(225deg);
  right: -50px;
}

.slider-btn--effect-boris::after {
  background: rgba(111, 148, 182, 0.1);
}

.slider-btn--effect-boris.cbutton--click::after {
  animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }

  25%,
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;

    transform: scale3d(1.2, 1.2, 1);
  }
}
