.footer {
  padding-bottom: 30px;
  background-color: #fff;
  &-tel {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    max-width: 20%;
    width: 100%;
    &:hover {
      color: rgba(0, 0, 0, 0.5);
      transition: all 0.3s ease;
    }
  }
  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    border-top: 1px solid #E7E7E7;
  }
  &-text {
    color: $text-gray;
    a:first-child {
      margin-right: 10px;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  &-social__list {
    max-width: 20%;
    width: 100%;  
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &-social__item {
    margin-right: 6px;
    border-radius: 50%;
    display: block;
    overflow: hidden;
    &:last-child {
      margin-right: 0;
    }
  }
  &-social__link {
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: block;
    background: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    &:hover {
      transition: all 0.3s ease;
      svg {
        transition: all 0.3s ease;
        fill: $gold;
      }
    }
    svg {
      transition: all 0.3s ease;
      fill: #121212;
    }
    &.social__vk svg {
      width: 10px;
      height: 6px;
    }
    &.social__inst svg {
      width: 12px;
      height: 12px;
    }
  }
  &-bottom {
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #d4d4d4;
  }
}
