@media (max-width: 1450px) {
  .header {
    &-logo {
      margin-right: 5px;
    }
    &-menu li a {
      padding: 0 10px;
    }
  }
}

@media (max-width: 1350px) {
  .slider-btn__prev {
    left: -32px;
  }
  .slider-btn__next {
    right: -32px;
  }
}
@media (max-width: 1250px) {
  .header-menu__wrapp {
    padding: 0 15px;
  }
  .contact-tell {
    font-size: 0;
    img {
      display: block;
    }
  }
  .prices {
    &-card {
      padding: 40px 15px;
    }
    &-card__price {
      font-size: 50px;
      line-height: 38px;
    }
    &-card__btn {
      padding: 0 15px;
    }
    &-desc {
      flex-direction: column;
    }
    &-desc__body {
      margin-right: 0;
      margin-bottom: 50px;
    }
  }
  .footer-information__item {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .big-title {
    font-size: 28px;
    line-height: 32px;
  }

  .header {
    &-container {
      padding: 30px 35px;
    }
    &-btn {
      display: none;
      width: 100%;
      text-align: center;
    }
    &-burger__wrapper {
      display: block;
    }
    &__mob-conten {
      display: block;
    }
    &-logo {
      margin-right: 0;
      z-index: 999;
    }
    &-menu__wrapp {
      position: absolute;
      background: $black;
      left: -1000px;
      right: 0;
      top: 0px;
      padding: 40px 35px;
      height: 100vh;
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.4s ease-in-out;
      overflow-y: scroll;
      opacity: 0;
      visibility: hidden;
      &.active {
        transition: all 0.4s ease;
        opacity: 1;
        left: 0;
        visibility: visible;
        z-index: 1000;
      }
    }
    &-menu {
      margin-bottom: auto;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 30px;
      li {
        width: 100%;
        &:first-child a {
          padding-top: 0;
        }
      }
      li a {
        padding: 12px 0px;
      }
      &__head {
        align-items: flex-start;
        display: flex;
      }
    }
    &-btn {
      padding: 0px 30px;
      line-height: 45px;
      align-self: flex-start;
      margin-left: 0;
    }
  }
  .contact-tell {
    img {
      height: 24px;
    }
  }

  // Main //
  .main {
    padding-top: 0;
    &__motion {
      position: static;
      max-width: 700px;
      margin: auto;
      padding: 100px 0 50px;
      &_mob {
        display: block;
      }
      &_desc {
        display: none;
      }
    }
    &-content {
      margin: auto;
    }
  }
  .staff {
    &-body {
      flex-wrap: wrap;
    }
    &-block__title {
      max-width: 100%;
      padding-top: 0px;
      padding-bottom: 50px;
    }
    &-text {
      width: 100%;
      max-width: 400px;
    }
    &-block__img {
      margin-left: 0;
      margin-right: 50px;
      width: calc(35% - 60px);
    }
    &-block__opportunities {
      width: 65%;
      max-width: 450px;
    }
  }

  .about {
    padding: 100px 0;
    &__header {
      margin-right: auto;
      margin-bottom: 30px;
    }
    &__wrapper {
      display: block;
    }
  }

  .main-form {
    &__row {
    }
    &__title {
      max-width: 100%;
      margin-bottom: 50px;
      font-size: 38px;
      line-height: 40px;
    }
    &__body {
      padding: 40px;
      max-width: 375px;
    }
    &__contact-text {
      font-size: 22px;
      line-height: 22px;
    }
    &__contact-link {
      font-size: 34px;
      line-height: 38px;
      padding-left: 50px;
      &::after {
        width: 35px;
        height: 35px;
      }
    }
  }
  .form {
    &-input__label {
      margin-bottom: 25px;
    }
    &-input__wrapp {
      margin-bottom: 30px;
    }

    &-input {
      font-size: 28px;
      line-height: 32px;
      padding: 0 20px 10px 45px;
      &::placeholder {
        font-size: 28px;
        line-height: 32px;
      }
      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }
}
@media (max-width: 900px) {
  .applying {
    &-list__item {
      width: calc(33.333% - 30px);
    }
  }

  .guest-info {
    &__title {
      font-size: 24px;
      line-height: 24px;
    }
    &__wrapper {
    }
    &__lists{
      display: block;
    }
    &__list-item{
      width: 100%;
      max-width: 100%;
    }
    &__list-text{
      margin-right: 0;
    }
    &__content{
      max-width: 100%;
      width: 100%;
    }
    &__opportunities{
      display: none;
    }
    &__opportunities_mob{
      display: block;
    }
    &__body{
      display: block;
    }
    &__text{
      border: none;
      padding: 0;
      margin-bottom: 50px;
    }
    &__img{
      text-align: center;
      max-width: 100%;
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .about {
    &__colums {
      display: block;
    }
    &__item {
      margin-bottom: 50px;
    }
  }

  .video-block {
    height: 520px;
    &-text {
      max-width: 240px;
    }
  }

  .primary-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
  }
  .main-form {
    padding: 80px 0 0 0;
    .container {
      padding: 0;
    }
    &__title {
      padding: 0 35px;
    }
    &__row {
      flex-direction: column;
      align-items: center;
      &:last-child {
        display: none;
      }
    }
    &__body {
      border-radius: 0;
      max-width: 100%;
      width: 100%;
      padding: 35px;
    }
  }
  .applying {
    padding-top: 60px;
    &-title {
      text-align: center;
    }
    &-list {
      margin: 0 -15px -40px -15px;
    }
    &-list__item {
      width: calc(50% - 30px);
      margin: 0 15px 40px 15px;
      flex-direction: column;
      align-items: center;
    }

    &-name {
      padding-top: 15px;
      padding-left: 0px;
      text-align: center;
    }

    &-now__title {
      text-align: center;
    }
    &-now__list {
      width: 100%;
      margin: 0;
    }
    &-now__list-item {
      width: 50%;
      margin: 0 0 30px 0;
      display: flex;
      justify-content: center;
      img {
        max-width: 100px;
        height: auto;
      }
    }
  }
  .staff {
    &-block__title {
      padding: 0px;
      max-width: 100%;
      margin-bottom: 80px;
      order: 2;
    }
    &-block__img {
      width: 100%;
      max-width: 100%;
      margin: 0 0 50px 0;
      order: 1;
      img {
        width: 100%;
        height: auto;
      }
    }
    &-block__opportunities {
      width: 100%;
      max-width: 100%;
      order: 3;
    }

    &-block__opportunities-list {
      margin: 0 -7px -50px -7px;
    }
    &-block__opportunities-item {
      width: calc(100% - 14px);
      margin: 0 7px 50px 7px;
      max-width: 100%;
    }
  }
  .products {
    &-card {
      height: 550px;
    }
    &-card__title {
      font-size: 18px;
      line-height: 24px;
    }
    &-features__item {
      width: calc(100% - 36px);
    }
  }
  .prices {
    padding: 60px 0 80px 0;
    &-title,
    &-sub__title {
      text-align: center;
    }
    &-cards {
      width: calc(100% + 84px);
      margin: 0 -42px -15px -42px;
    }
    &-card {
      padding: 40px 35px;
      width: calc(100% - 14px);
      &._black {
        .prices-card__content-blocks {
          border-top: none;
        }
      }
    }
    &-card__more {
      display: block;
    }
    &-card__price {
      font-size: 64px;
      line-height: 64px;
    }
    &-card__content-blocks {
      display: none;
      padding-top: 0px;
      margin-top: 0px;
      border-top: none;
    }
    &-desc {
      padding: 40px;
    }
    &-desc__title {
      font-size: 24px;
      line-height: 24px;
    }
    &-desc__item {
      width: calc(100% - 84px);
    }
    &-desc__or {
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translateX(0%) translateY(230%);
    }
  }
  .form {
    &-thank {
      min-height: 230px;
    }
  }
  .privacy-policy {
    padding-top: 140px;
    padding-bottom: 60px;
    &__title {
      font-size: 28px;
      line-height: 32px;
    }
    &__contents {
      padding: 35px;
      flex-direction: column;
      margin: 0 -35px;
      margin-bottom: 50px;
    }
    &__contents-title {
      font-size: 24px;
      line-height: 24px;
      margin-right: 0px;
      margin-bottom: 25px;
      max-width: 120px;
    }
    &__contents-list {
    }
    &__contents-item {
      max-width: 100%;
    }
    &__menu-body {
      display: none;
    }
    &__content {
      max-width: 100%;
      margin-right: 0;
    }
    &__paragraph {
      padding-top: 50px;
      &:first-child {
        padding-top: 0;
      }
      h2 {
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 25px;
      }
      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 20px;
      }
      strong {
        font-size: 14px;
        line-height: 18px;
      }
      b {
        font-size: 14px;
        line-height: 18px;
      }
      a {
        font-size: 14px;
        line-height: 19px;
      }
      ul {
        li {
          padding-left: 35px;
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 20px;
        }
      }
    }
  }
  .footer {
    padding: 50px 0 40px 0;
    &-tel {
      margin-bottom: 30px;
    }
    &-row {
      flex-direction: column;
      margin-bottom: 50px;
    }
    &-app {
      max-width: 100%;
      padding-right: 0;
      margin-right: 0;
      margin-bottom: 50px;
    }
    &-information__item {
      width: 100%;
      padding-right: 0px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &-bottom {
      flex-direction: column-reverse;
      align-items: flex-start;
    }

    &-social__list {
      margin-bottom: 50px;
    }
  }
}
@media (max-width: 425px) {
  .main {
    &__btn-wrapper {
      .btn:first-child {
        margin: auto;
        margin-bottom: 10px;
      }
      .btn {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .slider-btn {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 360px) {
  
  .container {
    padding: 0 25px;
  }
  .guest-info {
    &__title {
      font-size: 18px;
      line-height: 18px;
    }
  }
  .slider-btn__prev {
    left: -10px;
  }
  .slider-btn__next {
    right: -10px;
  }
  .main-form {
    padding: 60px 0 0 0;
    &__title {
      padding: 0 25px;
    }
    &__body {
      padding: 25px;
    }
    &__title {
      margin-bottom: 35px;
      font-size: 36px;
      line-height: 36px;
    }
  }
  .form {
    &-input {
      font-size: 26px;
      line-height: 28px;
      padding: 0 0px 10px 35px;
      &::placeholder {
        font-size: 26px;
        line-height: 28px;
      }
      &::-moz-placeholder,
      &::-webkit-input-placeholder {
        font-size: 26px;
        line-height: 28px;
      }
    }
    &__policy {
      font-size: 11px;
    }
  }
  .footer {
    &-tel {
      font-size: 36px;
      line-height: 36px;
    }
  }
}
