//=================== fonts
$base-font: 'Helvetica', sans-serif;

//===================  colors
$gold: #e5c584;
$text: #121212;
$text-gray: #797979;
$text-light: #ffffff;

$black: #070707;
$black-2: #121212;
$gray: #e5e5e5;
$white: #ffffff;
