/* roboto-300 - latin_cyrillic */
@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

img[src=''],
img:not([src]) {
  opacity: 0;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

/* stylelint-disable */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus, a:hover, a:active, a:visited {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

input,
textarea {
  border-radius: 0;
}

input::-ms-clear {
  width: 0;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #070707;
}

.color-gold {
  color: #e5c584;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 35px;
  margin: 0 auto;
}

.w-100 {
  width: 100%;
}

.overflow-h {
  overflow: hidden !important;
}

.hidden {
  display: none;
}

.m-auto {
  margin: auto;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.pt-0 {
  padding-top: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-auto {
  margin-bottom: auto;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-sb {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

@keyframes hoverFlare {
  0% {
    left: -90px;
  }
  100% {
    left: 150%;
  }
}

.btn {
  position: relative;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 55px;
  font-weight: 500;
  padding: 0px 20px;
  transition: all 0.3s ease;
  background: transparent;
  outline: none;
}

.btn:hover {
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn:focus {
  outline: none;
}

.btn_hover {
  position: relative;
  overflow: hidden;
  vertical-align: top;
  z-index: 2;
}

.btn_hover:before {
  content: '';
  transition: 3s ease-in-out;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.5));
  height: 100%;
  width: 20%;
  position: absolute;
  top: 0;
  transform: skewX(-45deg);
  left: -900px;
}

.btn_hover:hover:before {
  animation: hoverFlare 1.5s infinite;
}

.gold-btn {
  background: #e5c584;
  color: #121212;
}

.gray-btn {
  background-color: #202020;
  color: #ffffff;
}

.big-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
}

.big-title-light {
  color: #ffffff;
}

.primary-title {
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
}

.primary-title-light {
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #ffffff;
}

.primary-sub__title {
  font-size: 16px;
  line-height: 22px;
  color: #797979;
  margin-top: 25px;
  margin-bottom: 50px;
}

.slider-btn {
  position: absolute;
  top: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0 0 3px 3px;
  cursor: pointer;
  z-index: 10;
  transition: all 0.3s ease;
  outline: none;
}

.slider-btn span {
  width: 15px;
  height: 15px;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}

.slider-btn:hover {
  transition: all 0.3s ease;
  outline: none;
}

.slider-btn.slick-disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none;
}

.slider-btn.slick-disabled:hover {
  opacity: 0.5;
  background: none;
}

.slider-btn__prev {
  transform: translateY(-50%) rotate(45deg);
  left: -50px;
  z-index: 10;
}

.slider-btn__next {
  transform: translateY(-50%) rotate(225deg);
  right: -50px;
}

.slider-btn--effect-boris::after {
  background: rgba(111, 148, 182, 0.1);
}

.slider-btn--effect-boris.cbutton--click::after {
  animation: anim-effect-boris 0.3s forwards;
}

@keyframes anim-effect-boris {
  0% {
    transform: scale3d(0.3, 0.3, 1);
  }
  25%,
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale3d(1.2, 1.2, 1);
  }
}

.h-fixed {
  position: fixed !important;
  z-index: 1000;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s ease;
  opacity: 1;
  background: #000;
  box-shadow: 0 0px 8px rgba(0, 0, 0, 0.15);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  width: 100%;
  transition: all 0.5s ease;
  background-color: #000000;
}

.header.active {
  z-index: 15;
  top: -100%;
  transition: all 0.3s;
}

.header.light {
  background: #070707;
}

.header.light .header-container {
  padding: 18px 35px;
}

.header.h-fixed, .header._light {
  background: #fff;
}

.header.h-fixed .header-container, .header._light .header-container {
  padding: 18px 35px;
}

.header.h-fixed .header-logo svg, .header._light .header-logo svg {
  fill: black;
}

.header.h-fixed .header-logo:hover svg, .header._light .header-logo:hover svg {
  fill: rgba(0, 0, 0, 0.7);
}

.header.h-fixed .header-menu li a, .header._light .header-menu li a {
  color: #121212;
}

.header.h-fixed .header-menu li a:hover, .header._light .header-menu li a:hover {
  color: rgba(0, 0, 0, 0.7);
}

.header.h-fixed .header-btn, .header._light .header-btn {
  border: 1px solid black;
  color: #121212;
}

.header.h-fixed .header-btn:hover, .header._light .header-btn:hover {
  color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.7);
}

.header.h-fixed .header-burger span, .header._light .header-burger span {
  background-color: #121212;
}

.header.h-fixed .contact-tell, .header._light .contact-tell {
  color: black;
}

.header.h-fixed .contact-tell:hover, .header._light .contact-tell:hover {
  color: rgba(0, 0, 0, 0.7);
}

.header-container {
  position: relative;
  width: 100%;
  max-width: 2440px;
  padding: 35px 50px;
  margin: 0 auto;
}

.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
<<<<<<< HEAD
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
=======
  align-items: center;
>>>>>>> b61302f5bec0dfebf7ea021a7d4536d5dd5371ac
  padding-top: 5px;
  margin-right: 112px;
}

.header-logo svg {
  height: 17px;
  width: 125px;
  transition: all 0.3s ease;
  fill: white;
}

.header-logo:hover svg {
  fill: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu__wrapp {
  width: 100%;
  padding: 0 30px;
  max-width: 870px;
}

.header-menu li a {
  display: block;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  transition: all 0.3s ease;
}

.header-menu li a:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.header-menu__head {
  display: none;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-menu__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  color: #ffffff;
}

.header-menu__close {
  width: 18px;
  height: 18px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.header-menu__close span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.header-menu__close span:nth-child(1) {
  top: 0;
  transform: translateY(8px) rotate(135deg);
}

.header-menu__close span:nth-child(2) {
  bottom: 0;
  transform: translateY(-8px) rotate(-135deg);
}

.header-options {
  display: flex;
  align-items: center;
}

.header-btn {
  border: 1px solid white;
  line-height: 40px;
  color: #ffffff;
  margin-left: 20px;
}

.header-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.header-btn:active {
  background: white;
  color: #121212;
}

.header__mob-conten {
  display: none;
}

.contact-tell {
  white-space: nowrap;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: white;
  display: flex;
  align-items: center;
}

.contact-tell img {
  display: none;
  height: 35px;
}

.contact-tell:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.header-burger {
  width: 18px;
  height: 9px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

.header-burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.header-burger span:nth-child(1) {
  top: 0;
}

.header-burger span:nth-child(2) {
  bottom: 0;
  max-width: 50%;
}

.header-burger__wrapper {
  display: none;
  align-items: center;
}

.header-burger__wrapper.active span:nth-child(1) {
  top: 0;
  transform: translateY(3px) rotate(135deg);
}

.header-burger__wrapper.active span:nth-child(2) {
  max-width: 100%;
  bottom: 0;
  transform: translateY(-4px) rotate(-135deg);
}

.main {
  background-color: #000000;
  padding-top: 300px;
  padding-bottom: 100px;
  min-height: 720px;
  position: relative;
  overflow: hidden;
}

.main__motion {
  position: absolute;
  left: 50%;
  bottom: 0;
  z-index: 5;
}

.main__motion_mob {
  display: none;
  margin: auto;
}

.main-content {
  position: relative;
  z-index: 10;
  max-width: 650px;
}

.main .big-title-light {
  margin-bottom: 30px;
}

.main__sub-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-bottom: 10px;
  color: #fff;
}

.main__text {
  max-width: 315px;
  color: #797979;
}

.main__btn-wrapper .btn:first-child {
  margin-right: 15px;
}

.about {
  padding: 120px 0;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
}

.about__text {
  margin-top: 25px;
  color: #797979;
}

.about__header {
  max-width: 320px;
  margin-right: 30px;
}

.about__colums {
  display: flex;
  justify-content: space-between;
  max-width: 810px;
  width: 100%;
}

.about__item {
  max-width: 230px;
}

.about__icon {
  margin-bottom: 30px;
}

.play-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #e5c584;
  animation: arrow-shadows 2.76s infinite;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes arrow-shadows {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 17px rgba(255, 255, 255, 0);
  }
}

.video-block {
  width: 100%;
  height: 540px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  max-width: 1230px;
  margin: 80px auto 0;
}

.video-block::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.video-block-preview {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.video-block-preview video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video-block__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  position: relative;
  margin-bottom: 30px;
}

.video-block-text {
  position: absolute;
  left: 35px;
  bottom: 70px;
  z-index: 10;
  max-width: 475px;
}

.what-can {
  background-color: #070707;
  padding: 80px 0;
}

.what-can__sub-title {
  font-weight: 700;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  margin: 50px 0;
}

.guest-info {
  margin-bottom: 80px;
}

.guest-info .accordion-content-js {
  display: none;
}

.guest-info__item {
  border-bottom: 1px solid #e7e7e7;
}

.guest-info__item:first-child {
  border-top: 1px solid #e7e7e7;
}

.guest-info__item.active .guest-info__title {
  color: #e5c584;
}

.guest-info__item.active .guest-info__header::after {
  transform: rotate(-225deg);
}

.guest-info__header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.guest-info__header:after {
  content: '';
  display: block;
  position: absolute;
  right: 4px;
  top: 55px;
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #797979;
  border-left: 2px solid #797979;
  transition: all 0.3s ease;
}

.guest-info__icon {
  width: 60px;
  height: 60px;
  background: #202020;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guest-info__icon_wrapper {
  flex: 0 0 25%;
  max-width: 25%;
}

.guest-info__title {
  color: #e5e5e5;
  font-size: 28px;
  line-height: 32px;
  max-width: 265px;
}

.guest-info__body {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
}

.guest-info__text {
  color: #797979;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #e7e7e7;
}

.guest-info__opportunities {
  color: #797979;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  flex: 0 0 25%;
  max-width: 25%;
}

.guest-info__opportunities_mob {
  font-size: 14px;
  line-height: 14px;
  color: #797979;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 30px;
  display: none;
}

.guest-info__content {
  align-self: flex-start;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.guest-info__img {
  text-align: center;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.guest-info__lists {
  display: flex;
  flex-wrap: wrap;
}

.guest-info__list-item {
  flex: 0 0 50%;
  max-width: 50%;
  margin-bottom: 50px;
}

.guest-info__list-icon {
  display: block;
  width: 15px;
  height: 10px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #e5c584;
  border-left: 2px solid #e5c584;
  margin-bottom: 30px;
}

.guest-info__list-text {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-right: 20px;
}

.shop-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #121212;
  border-radius: 10px;
  padding: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  max-width: 49%;
  min-height: 480px;
}

.shop-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.shop-info__icon {
  width: 60px;
  height: 60px;
  background: #202020;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 20px;
}

.shop-info__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  color: #fff;
}

.shop-info__text {
  font-size: 14px;
  line-height: 18px;
  color: #797979;
  max-width: 470px;
  margin-bottom: 30px;
}

.shop-info__img {
  margin-top: auto;
}

.shop-info__img img {
  max-width: 100%;
}

.privacy-policy {
  padding-top: 180px;
  padding-bottom: 120px;
  background: #fff;
}

.privacy-policy__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 50px;
}

.privacy-policy__body {
  display: flex;
  position: relative;
}

.privacy-policy__contents {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  margin-bottom: 100px;
}

.privacy-policy__contents-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  width: 100%;
  max-width: 310px;
  margin-right: 60px;
}

.privacy-policy__contents-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  position: relative;
  padding-left: 70px;
  max-width: 520px;
}

.privacy-policy__contents-item:last-child {
  margin-bottom: 0;
}

.privacy-policy__contents-item span {
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  color: #e5c584;
  position: absolute;
  left: 0;
  top: 0;
}

.privacy-policy__menu-body {
  width: 100%;
  max-width: 310px;
  margin-right: 100px;
}

.privacy-policy__menu-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 50px;
}

.privacy-policy__menu-item {
  margin-bottom: 25px;
}

.privacy-policy__menu-link {
  display: block;
  font-weight: 550;
  font-size: 16px;
  line-height: 20px;
  color: #797979;
  transition: all 0.3s ease;
}

.privacy-policy__menu-link:hover {
  transition: all 0.3s ease;
  color: #070707;
}

.privacy-policy__content {
  width: 100%;
  max-width: 770px;
  margin-left: 0;
  margin-right: auto;
}

.privacy-policy__paragraph {
  padding-top: 80px;
}

.privacy-policy__paragraph:first-child {
  padding-top: 0;
}

.privacy-policy__paragraph h2 {
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 50px;
}

.privacy-policy__paragraph p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
}

.privacy-policy__paragraph strong {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.privacy-policy__paragraph b {
  font-size: 16px;
  line-height: 22px;
}

.privacy-policy__paragraph a {
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  color: #e5c584;
}

.privacy-policy__paragraph a:hover {
  text-decoration: underline;
}

.privacy-policy__paragraph ul li {
  padding-left: 35px;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.privacy-policy__paragraph ul li::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 10px;
  background: url(../img/icons/check-icon.svg) center center no-repeat;
  background-size: contain;
}

.main-form {
  padding: 120px 0;
}

.main-form__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main-form__row:last-child {
  margin-top: 80px;
  padding-top: 50px;
  border-top: 1px solid #e7e7e7;
}

.main-form__title {
  width: 100%;
  max-width: 420px;
}

.main-form__title span {
  display: block;
  margin-top: 25px;
  font-size: 16px;
  line-height: 22px;
  color: #797979;
}

.main-form__body {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 50px;
  width: 100%;
  max-width: 500px;
}

.main-form__contact-text {
  width: 100%;
  max-width: 400px;
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
}

.main-form__contact-link {
  position: relative;
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  padding-left: 70px;
}

.main-form__contact-link::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: url(../img/icons/tell.svg) center center no-repeat;
  background-size: contain;
}

.form-input__label {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.form-input__wrapp {
  position: relative;
  transition: all 0.3s ease;
  margin-bottom: 30px;
}

.form-input__wrapp.--error .form-input__line {
  transition: all 0.3s ease;
  width: 100%;
  background: #f29a17;
}

.form-input__wrapp.--error .form-input__error {
  transform: translateY(100%);
  opacity: 1;
  transition: all 0.3s ease;
}

.form-input__wrapp.--error .form-input:focus {
  background: transparent;
  transition: all 0.3s ease;
}

.form-input__wrapp.--error .form-input:focus + .form-input__line {
  width: 100%;
  background: #f29a17;
  transition: all 0.6s ease;
}

.form-input__error {
  position: absolute;
  bottom: -5px;
  left: 0;
  margin-top: 10px;
  transform: translateY(0%);
  color: #f29a17;
  transition: all 0.3s ease;
  font-size: 14px;
  line-height: 18px;
  opacity: 0;
}

.form-input {
  font-family: "Helvetica", sans-serif;
  display: block;
  width: 100%;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #121212;
  background: transparent;
  padding: 0 40px 10px 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid #e7e7e7;
  transition: all 0.3s ease;
}

.form-input::placeholder {
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #121212;
  opacity: 1;
  background: transparent;
  font-family: "Helvetica", sans-serif;
}

.form-input::-moz-placeholder, .form-input::-webkit-input-placeholder {
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: #121212;
  opacity: 1;
  background: transparent;
  font-family: "Helvetica", sans-serif;
}

.form-input:focus {
  background: transparent;
  transition: all 0.6s ease;
}

.form-input:focus + .form-input__line {
  width: 100%;
  background: #e5c584;
  transition: all 0.6s ease;
}

.form-input:hover {
  transition: all 0.6s ease;
  border-bottom: 2px solid #e5c584;
}

.form-input__line {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background: transparent;
  transition: all 0.6s ease;
}

.form-input__icon {
  position: absolute;
  left: 0;
  top: 43%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url(../img/icons/tell.svg) center center no-repeat;
  background-size: contain;
}

.form-button {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.form__policy {
  display: block;
}

.form__policy a {
  white-space: nowrap;
  color: #797979;
}

.form__policy a:hover {
  text-decoration: underline;
}

.form-thank {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 233px;
}

.form-thank img {
  display: block;
  margin-bottom: 45px;
}

.form-thank__text {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  display: block;
}

.form-thank__text span {
  font-size: 16px;
  line-height: 22px;
  margin-top: 15px;
  display: block;
  text-align: center;
}

.products {
  padding: 80px 0;
  background: #f5f5f5;
  overflow: hidden;
}

.products-slider {
  margin: 0 -7px;
  position: relative;
}

.products-slider__item {
  padding: 0 7px;
  outline: none;
}

.products-card {
  height: 500px;
  background: #ffffff;
  border-radius: 10px;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.products-card__head-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.products-card__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

.products-card__title._important span {
  color: #e5c584;
}

.products-card__icons {
  display: flex;
  align-items: center;
}

.products-card__icon {
  margin-right: 10px;
}

.products-card__icon:last-child {
  margin-right: 0;
}

.products-card__desc {
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}

.products-card__product {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-card__price {
  font-weight: bold;
  font-size: 28px;
  line-height: 28px;
  color: #e5c584;
}

.products__text {
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 80px;
  border-top: 1px solid #e7e7e7;
}

.products__text p {
  font-size: 14px;
  line-height: 18px;
  color: #797979;
  margin-bottom: 10px;
}

.products-features__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 36px);
  margin: 0 -18px -50px -18px;
}

.products-features__item {
  width: calc(33.3333% - 36px);
  margin: 0 18px 50px 18px;
}

.products-features__icon {
  margin-bottom: 30px;
}

.products-features__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.products-features__text {
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}

.prices {
  overflow: hidden;
  padding: 60px 0 120px 0;
}

.prices .products__text p {
  max-width: 600px;
}

.prices-cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 14px);
  margin: 0 -7px -15px -7px;
}

.prices-card {
  padding: 40px;
  background: #f5f5f5;
  width: calc(33.3333% - 14px);
  margin: 0 7px 15px 7px;
  border-radius: 10px;
  align-self: baseline;
}

.prices-card._black {
  background: #070707;
}

.prices-card._black .prices-card__title {
  color: #ffffff;
}

.prices-card._black .prices-card__title span {
  display: block !important;
}

.prices-card._black .prices-card__content-item {
  color: #ffffff;
}

.prices-card._black .prices-card__content-blocks {
  border-top: 1px solid #121212;
}

.prices-card._black .prices-card__more {
  border-bottom: 1px solid #121212;
  border-top: 1px solid #121212;
}

.prices-card__title {
  position: relative;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 50px;
  text-align: center;
}

.prices-card__title span {
  display: none;
  margin-top: 5px;
  width: 100%;
  font-weight: 400;
  text-align: center;
  color: #e5c584;
  font-size: 16px;
  line-height: 22px;
  position: absolute;
  bottom: -5px;
  transform: translateY(100%);
}

.prices-card__price {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  color: #e5c584;
  margin-bottom: 20px;
  text-align: center;
}

.prices-card__price span {
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  color: #e5c584;
}

.prices-card__sub-price {
  display: block;
  text-align: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}

.prices-card__content-blocks {
  padding-top: 30px;
  margin-top: 30px;
  padding-bottom: 50px;
  border-top: 1px solid #e7e7e7;
}

.prices-card__content-block {
  margin-bottom: 50px;
}

.prices-card__content-block:last-child {
  margin-bottom: 0;
}

.prices-card__content-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #797979;
  margin-bottom: 30px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.prices-card__content-item {
  position: relative;
  display: block;
  padding-left: 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.prices-card__content-item:last-child {
  margin-bottom: 0;
}

.prices-card__content-item::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 10px;
  background: url(../img/icons/check-icon.svg) center center no-repeat;
  background-size: contain;
}

.prices-card__content-item._heart-icon::after {
  background: url(../img/icons/heart-icon.svg) center center no-repeat;
  background-size: contain;
}

.prices-card__btn {
  width: 100%;
  text-align: center;
  display: block;
}

.prices-card__more {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  padding: 30px 0;
  margin: 30px 0;
  color: #797979;
  border-bottom: 1px solid #e7e7e7;
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.prices-card__more::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-bottom: 2px solid #797979;
  border-left: 2px solid #797979;
  transform: translate(0, -2px) rotate(-45deg);
  margin-left: 15px;
  transition: all 0.3s ease;
}

.prices-card__accordion.active .prices-card__more::after {
  transform: translate(0, 4px) rotate(-225deg);
  transition: all 0.3s ease;
}

.prices-desc {
  background: #f5f5f5;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 60px 40px;
}

.prices-desc__body {
  width: 100%;
  max-width: 300px;
  margin-right: 80px;
}

.prices-desc__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 25px;
}

.prices-desc__text {
  font-size: 16px;
  line-height: 22px;
  color: #797979;
}

.prices-desc__list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 84px);
  margin: 0 -42px -60px -42px;
}

.prices-desc__item {
  position: relative;
  width: calc(33.3333% - 84px);
  margin: 0 42px 60px 42px;
}

.prices-desc__item:last-child .prices-desc__or {
  display: none;
}

.prices-desc__item-icon {
  margin-bottom: 20px;
}

.prices-desc__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 25px;
}

.prices-desc__item-text {
  font-size: 14px;
  line-height: 18px;
  color: #797979;
}

.prices-desc__or {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateX(195%);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.applying {
  overflow: hidden;
  padding: 120px 0 60px 0;
}

.applying-title {
  margin-bottom: 50px;
}

.applying-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin: 0 -15px -30px -15px;
  padding-bottom: 50px;
}

.applying-list__item {
  width: calc(25% - 30px);
  margin: 0 15px 30px 15px;
  display: flex;
  align-items: center;
}

.applying-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  min-width: 80px;
  min-height: 80px;
  border-radius: 50%;
  background: #e5c584;
}

.applying-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
}

.applying-now {
  padding-top: 50px;
  border-top: 1px solid #e7e7e7;
}

.applying-now__title {
  margin-bottom: 30px;
  color: #797979;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.applying-now__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: -15px -10px;
}

.applying-now__list-item {
  margin: 15px 10px;
}

.staff {
  padding: 80px 0;
  background: #f5f5f5;
}

.staff-body {
  display: flex;
  justify-content: space-between;
}

.staff-block__title {
  padding-top: 80px;
  width: 100%;
  max-width: 400px;
}

.staff-title {
  margin-bottom: 25px;
}

.staff-text {
  font-size: 16px;
  line-height: 22px;
  color: #797979;
  margin-bottom: 50px;
}

.staff-list__app {
  display: flex;
  align-items: center;
}

.staff-app {
  margin-right: 10px;
}

.staff-app:last-child {
  margin-right: 0;
}

.staff-block__img {
  width: 100%;
  max-width: 310px;
  margin: 0 60px;
}

.staff-block__img img {
  width: 100%;
  height: auto;
}

.staff-block__opportunities-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #797979;
  margin-bottom: 50px;
}

.staff-block__opportunities-list {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 14px);
  margin: 0 -7px -30px -7px;
}

.staff-block__opportunities-item {
  width: calc(50% - 14px);
  margin: 0 7px 30px 7px;
  max-width: 200px;
}

.staff-block__opportunities-icon {
  margin-bottom: 30px;
}

.staff-block__opportunities-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.page-404 {
  padding-top: 180px;
  padding-bottom: 120px;
  min-height: calc(100vh - 331px);
}

.page-404__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-404__content {
  margin-bottom: 80px;
}

.page-404__title {
  font-weight: bold;
  font-size: 56px;
  line-height: 60px;
  margin-bottom: 25px;
}

.page-404__text {
  font-size: 16px;
  line-height: 22px;
  color: #797979;
  margin-bottom: 50px;
}

.page-404__btn {
  background: rgba(7, 7, 7, 0.1);
}

.page-404__img {
  width: 100%;
  max-width: 750px;
  margin-left: auto;
}

.page-404__img img {
  width: 100%;
  height: auto;
}

.footer {
  padding: 50px 0 60px 0;
  background-color: #070707;
}

.footer-tel {
  display: inline-block;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 38px;
  line-height: 40px;
  color: white;
}

.footer-tel:hover {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s ease;
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.footer-app {
  width: 100%;
  max-width: 300px;
  padding-right: 25px;
  margin-right: 8%;
}

.footer-app__title {
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-weight: 550;
  font-size: 14px;
  line-height: 14px;
  color: #797979;
  margin-bottom: 20px;
}

.footer-app__list {
  display: flex;
  align-items: center;
}

.footer-app__link {
  margin-right: 6px;
}

.footer-information__title {
  font-weight: 550;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-information__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer-information__item {
  margin-bottom: 12px;
  width: 33.333%;
  padding-right: 30px;
}

.footer-iformation__link {
  font-size: 14px;
  line-height: 18px;
  color: #797979;
  transition: all 0.3s ease;
}

.footer-iformation__link:hover {
  color: #ffffff;
  transition: all 0.3s ease;
}

.footer-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer-protection {
  font-weight: 550;
  font-size: 12px;
  line-height: 12px;
  color: #ffffff;
  opacity: 0.3;
}

.footer-social__list {
  display: flex;
  align-items: center;
}

.footer-social__item {
  margin-right: 6px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
}

.footer-social__item:last-child {
  margin-right: 0;
}

.footer-social__link {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: block;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.footer-social__link:hover {
  background: rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease;
}

.footer-social__link:hover svg {
  transition: all 0.3s ease;
  fill: #e5c584;
}

.footer-social__link svg {
  transition: all 0.3s ease;
  fill: #ffffff;
}

.footer-social__link.social__vk svg {
  width: 10px;
  height: 6px;
}

.footer-social__link.social__inst svg {
  width: 12px;
  height: 12px;
}

@media (max-width: 1450px) {
  .header-logo {
    margin-right: 5px;
  }
  .header-menu li a {
    padding: 0 10px;
  }
  .page-404 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .page-404__content {
    margin-bottom: 30px;
  }
  .page-404__title {
    font-size: 40px;
    line-height: 40px;
  }
  .page-404__img {
    max-width: 650px;
  }
}

@media (max-width: 1350px) {
  .slider-btn__prev {
    left: -32px;
  }
  .slider-btn__next {
    right: -32px;
  }
}

@media (max-width: 1250px) {
  .header-menu__wrapp {
    padding: 0 15px;
  }
  .contact-tell {
    font-size: 0;
  }
  .contact-tell img {
    display: block;
  }
  .prices-card {
    padding: 40px 15px;
  }
  .prices-card__price {
    font-size: 50px;
    line-height: 38px;
  }
  .prices-card__btn {
    padding: 0 15px;
  }
  .prices-desc {
    flex-direction: column;
  }
  .prices-desc__body {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer-information__item {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .big-title {
    font-size: 28px;
    line-height: 32px;
  }
  .header-container {
    padding: 30px 35px;
  }
  .header-btn {
    display: none;
    width: 100%;
    text-align: center;
  }
  .header-burger__wrapper {
    display: block;
  }
  .header__mob-conten {
    display: block;
  }
  .header-logo {
    margin-right: 0;
    z-index: 999;
  }
  .header-menu__wrapp {
    position: absolute;
    background: #070707;
    left: -1000px;
    right: 0;
    top: 0px;
    padding: 40px 35px;
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.4s ease-in-out;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
  }
  .header-menu__wrapp.active {
    transition: all 0.4s ease;
    opacity: 1;
    left: 0;
    visibility: visible;
    z-index: 1000;
  }
  .header-menu__wrapp.active .header-menu li a {
    color: #ffffff;
  }
  .header-menu__wrapp.active .header-menu li a:hover {
    color: rgba(255, 255, 255, 0.5);
  }
  .header-menu__wrapp.active .header-btn {
    border: 1px solid white;
    color: #ffffff;
  }
  .header-menu__wrapp.active .header-btn:hover {
    background: rgba(255, 255, 255, 0.1);
  }
  .header-menu__wrapp.active .header-btn:active {
    background: white;
    color: #121212;
  }
  .header-menu__wrapp.active .header-burger span {
    background-color: #ffffff;
  }
  .header-menu {
    margin-bottom: auto;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 30px;
  }
  .header-menu li {
    width: 100%;
  }
  .header-menu li:first-child a {
    padding-top: 0;
  }
  .header-menu li a {
    padding: 12px 0px;
  }
  .header-menu__head {
    align-items: flex-start;
    display: flex;
  }
  .header-btn {
    padding: 0px 30px;
    line-height: 45px;
    align-self: flex-start;
    margin-left: 0;
  }
  .contact-tell img {
    height: 24px;
  }
  .main {
    padding-top: 0;
  }
  .main__motion {
    position: static;
    max-width: 700px;
    margin: auto;
    padding: 100px 0 50px;
  }
  .main__motion_mob {
    display: block;
  }
  .main__motion_desc {
    display: none;
  }
  .main-content {
    margin: auto;
  }
  .staff-body {
    flex-wrap: wrap;
  }
  .staff-block__title {
    max-width: 100%;
    padding-top: 0px;
    padding-bottom: 50px;
  }
  .staff-text {
    width: 100%;
    max-width: 400px;
  }
  .staff-block__img {
    margin-left: 0;
    margin-right: 50px;
    width: calc(35% - 60px);
  }
  .staff-block__opportunities {
    width: 65%;
    max-width: 450px;
  }
  .about {
    padding: 100px 0;
  }
  .about__header {
    margin-right: auto;
    margin-bottom: 30px;
  }
  .about__wrapper {
    display: block;
  }
  .main-form__title {
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 40px;
  }
  .main-form__body {
    padding: 40px;
    max-width: 375px;
  }
  .main-form__contact-text {
    font-size: 22px;
    line-height: 22px;
  }
  .main-form__contact-link {
    font-size: 34px;
    line-height: 38px;
    padding-left: 50px;
  }
  .main-form__contact-link::after {
    width: 35px;
    height: 35px;
  }
  .form-input__label {
    margin-bottom: 25px;
  }
  .form-input__wrapp {
    margin-bottom: 30px;
  }
  .form-input {
    font-size: 28px;
    line-height: 32px;
    padding: 0 20px 10px 45px;
  }
  .form-input::placeholder {
    font-size: 28px;
    line-height: 32px;
  }
  .form-input::-moz-placeholder, .form-input::-webkit-input-placeholder {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (max-width: 900px) {
  .applying-list__item {
    width: calc(33.333% - 30px);
  }
  .guest-info__title {
    font-size: 24px;
    line-height: 24px;
  }
  .guest-info__lists {
    display: block;
  }
  .guest-info__list-item {
    width: 100%;
    max-width: 100%;
  }
  .guest-info__list-text {
    margin-right: 0;
  }
  .guest-info__content {
    max-width: 100%;
    width: 100%;
  }
  .guest-info__opportunities {
    display: none;
  }
  .guest-info__opportunities_mob {
    display: block;
  }
  .guest-info__body {
    display: block;
  }
  .guest-info__text {
    border: none;
    padding: 0;
    margin-bottom: 50px;
  }
  .guest-info__img {
    text-align: center;
    max-width: 100%;
    width: 100%;
  }
  .shop-info {
    display: block;
  }
  .shop-info__item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .about__colums {
    display: block;
  }
  .about__item {
    margin-bottom: 50px;
  }
  .video-block {
    height: 520px;
  }
  .video-block-text {
    max-width: 240px;
  }
  .primary-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
  }
  .main-form {
    padding: 80px 0 0 0;
  }
  .main-form .container {
    padding: 0;
  }
  .main-form__title {
    padding: 0 35px;
  }
  .main-form__row {
    flex-direction: column;
    align-items: center;
  }
  .main-form__row:last-child {
    display: none;
  }
  .main-form__body {
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    padding: 35px;
  }
  .applying {
    padding-top: 60px;
  }
  .applying-title {
    text-align: center;
  }
  .applying-list {
    margin: 0 -15px -40px -15px;
  }
  .applying-list__item {
    width: calc(50% - 30px);
    margin: 0 15px 40px 15px;
    flex-direction: column;
    align-items: center;
  }
  .applying-name {
    padding-top: 15px;
    padding-left: 0px;
    text-align: center;
  }
  .applying-now__title {
    text-align: center;
  }
  .applying-now__list {
    width: 100%;
    margin: 0;
  }
  .applying-now__list-item {
    width: 50%;
    margin: 0 0 30px 0;
    display: flex;
    justify-content: center;
  }
  .applying-now__list-item img {
    max-width: 100px;
    height: auto;
  }
  .staff-block__title {
    padding: 0px;
    max-width: 100%;
    margin-bottom: 80px;
    order: 2;
  }
  .staff-block__img {
    width: 100%;
    max-width: 100%;
    margin: 0 0 50px 0;
    order: 1;
  }
  .staff-block__img img {
    width: 100%;
    height: auto;
  }
  .staff-block__opportunities {
    width: 100%;
    max-width: 100%;
    order: 3;
  }
  .staff-block__opportunities-list {
    margin: 0 -7px -50px -7px;
  }
  .staff-block__opportunities-item {
    width: calc(100% - 14px);
    margin: 0 7px 50px 7px;
    max-width: 100%;
  }
  .products-card {
    height: 550px;
  }
  .products-card__title {
    font-size: 18px;
    line-height: 24px;
  }
  .products-features__item {
    width: calc(100% - 36px);
  }
  .prices {
    padding: 60px 0 80px 0;
  }
  .prices-title, .prices-sub__title {
    text-align: center;
  }
  .prices-cards {
    width: calc(100% + 84px);
    margin: 0 -42px -15px -42px;
  }
  .prices-card {
    padding: 40px 35px;
    width: calc(100% - 14px);
  }
  .prices-card._black .prices-card__content-blocks {
    border-top: none;
  }
  .prices-card__more {
    display: block;
  }
  .prices-card__price {
    font-size: 64px;
    line-height: 64px;
  }
  .prices-card__content-blocks {
    display: none;
    padding-top: 0px;
    margin-top: 0px;
    border-top: none;
    min-width: 100%;
  }
  .prices-desc {
    padding: 40px;
  }
  .prices-desc__title {
    font-size: 24px;
    line-height: 24px;
  }
  .prices-desc__item {
    width: calc(100% - 84px);
  }
  .prices-desc__or {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(0%) translateY(230%);
  }
  .form-thank {
    min-height: 230px;
  }
  .privacy-policy {
    padding-top: 140px;
    padding-bottom: 60px;
  }
  .privacy-policy__title {
    font-size: 28px;
    line-height: 32px;
  }
  .privacy-policy__contents {
    padding: 35px;
    flex-direction: column;
    margin: 0 -35px;
    margin-bottom: 50px;
  }
  .privacy-policy__contents-title {
    font-size: 24px;
    line-height: 24px;
    margin-right: 0px;
    margin-bottom: 25px;
    max-width: 120px;
  }
  .privacy-policy__contents-item {
    max-width: 100%;
  }
  .privacy-policy__menu-body {
    display: none;
  }
  .privacy-policy__content {
    max-width: 100%;
    margin-right: 0;
  }
  .privacy-policy__paragraph {
    padding-top: 50px;
  }
  .privacy-policy__paragraph:first-child {
    padding-top: 0;
  }
  .privacy-policy__paragraph h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .privacy-policy__paragraph p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .privacy-policy__paragraph strong {
    font-size: 14px;
    line-height: 18px;
  }
  .privacy-policy__paragraph b {
    font-size: 14px;
    line-height: 18px;
  }
  .privacy-policy__paragraph a {
    font-size: 14px;
    line-height: 19px;
  }
  .privacy-policy__paragraph ul li {
    padding-left: 35px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .page-404 {
    min-height: auto;
  }
  .page-404__content {
    margin-bottom: 80px;
  }
  .page-404__title {
    font-size: 28px;
    line-height: 32px;
  }
  .page-404__img {
    max-width: 300px;
    margin: 0 auto;
  }
  .footer {
    padding: 50px 0 40px 0;
  }
  .footer-tel {
    margin-bottom: 30px;
  }
  .footer-row {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer-app {
    max-width: 100%;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: 50px;
  }
  .footer-information__item {
    width: 100%;
    padding-right: 0px;
  }
  .footer-information__item:last-child {
    margin-bottom: 0;
  }
  .footer-bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer-social__list {
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .main__btn-wrapper .btn:first-child {
    margin: auto;
    margin-bottom: 10px;
  }
  .main__btn-wrapper .btn {
    width: 100%;
    max-width: 100%;
  }
  .slider-btn {
    width: 20px;
    height: 20px;
  }
  .shop-info {
    display: block;
  }
  .shop-info__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
  }
  .shop-info__item {
    padding: 25px;
    margin-bottom: 10px;
  }
}

@media (max-width: 360px) {
  .container {
    padding: 0 25px;
  }
  .guest-info__title {
    font-size: 18px;
    line-height: 18px;
  }
  .shop-info__title {
    font-size: 18px;
    line-height: 18px;
  }
  .slider-btn__prev {
    left: -10px;
  }
  .slider-btn__next {
    right: -10px;
  }
  .main-form {
    padding: 60px 0 0 0;
  }
  .main-form__title {
    padding: 0 25px;
  }
  .main-form__body {
    padding: 25px;
  }
  .main-form__title {
    margin-bottom: 35px;
    font-size: 36px;
    line-height: 36px;
  }
  .form-input {
    font-size: 26px;
    line-height: 28px;
    padding: 0 0px 10px 35px;
  }
  .form-input::placeholder {
    font-size: 26px;
    line-height: 28px;
  }
  .form-input::-moz-placeholder, .form-input::-webkit-input-placeholder {
    font-size: 26px;
    line-height: 28px;
  }
  .form__policy {
    font-size: 11px;
  }
  .footer-tel {
    font-size: 36px;
    line-height: 36px;
  }
}
/*# sourceMappingURL=main.css.map */